html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.timer {
  display: flex;
  margin: 100px auto;
  width: 600px;
  border: 1px solid wheat;
  padding: 50px;
}

.field {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid wheat;
  padding: 20px;
  border-radius: 5px;
  
}
.label {
  font-size: 30px;
}
